body.dark-mode {
  background: #171923;
  color: #fff;
}

body.dark-mode .MuiPaper-root {
  background: #23253a !important;
  color: #fff !important;
}

body.dark-mode .MuiInputBase-root {
  background: #23253a !important;
  color: #fff !important;
}

body.dark-mode .MuiList-root {
  background: #23253a !important;
  color: #fff !important;
}
body.dark-mode .MuiDialog-paper {
  background: #23253a !important;
  color: #fff !important;
}
